apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: heimdall-nvmeof
    namespace: democratic-csi
spec:
    interval: 15m
    chart:
        spec:
            chart: democratic-csi
            version: 0.15.1
            sourceRef:
                kind: HelmRepository
                name: democratic-csi
                namespace: flux-system
            interval: 15m
    timeout: 20m
    maxHistory: 3
    driftDetection:
        mode: warn
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        csiDriver:
            name: org.democratic-csi.heimdall-nvmeof
        storageClasses:
            - name: heimdall-nvmeof-csi
              defaultClass: false
              reclaimPolicy: Delete
              volumeBindingMode: Immediate
              allowVolumeExpansion: true
              parameters:
                # for block-based storage can be ext3, ext4, xfs
                # for nfs should be nfs
                fsType: ext4
                detachedVolumesFromSnapshots: "false"
              mountOptions: []
              secrets:
                provisioner-secret: null
                controller-publish-secret: null
                node-stage-secret: null
                node-publish-secret: null
                controller-expand-secret: null
        volumeSnapshotClasses:
            - name: heimdall-nvmeof-csi
              annotations:
                snapshot.storage.kubernetes.io/is-default-class: "false"
              parameters:
                detachedSnapshots: "true"
              secrets:
                snapshotter-secret: null
        driver:
            config:
                driver: zfs-generic-nvmeof
                sshConnection:
                    host: 10.1.0.63
                    port: 22
                    username: root
                    privateKey: ENC[AES256_GCM,data:d3xZKrgvy1q+JpOR/Eow09rNUiMLyx29L5hLDj7DqYlFtpV1xZmiTbbr/Ai/an2rFSHWYprpGLfcGsZVLjhCu6f6MKkUIzm6k6qL7FQDFigndEiFJAbdC5gbyQeEMGSa6aWgW1y0elfb7Q7dOcQeDtEpg8DLw9OuDcmQ/Jcl7jMpHAAXegmvqnOASvzrt2K5xQTSHLxSNEL7zh/2YPeW2it1zuA3MXxx7xzEJCsSJk5AKAyc18Pc8t3lIy6mlhypsz19NlP8Px79BvMqAC6OVOaYRMD11xt3/htwKpLM2mKaObdVOUevRWIMpmfykorSRwFGNAZuAFAMajq8v+5tE7zAJQwoRz4Li9KYYmo7IyEOTSpGX6qyA+v4Hom/uqHHhY6GBKeqPPWXGfLVRexSZuiAaTQFV32zmG/yJl6u0u29VSKL44362EVm3K2JsxiRYbpUR9pBS28LaRUQjJHenmIsYYtyge4PVRLSiaBrCT5E/B+S4YdihdQVwbJBrzw9qUoFh006l8CR3uyQKoAg,iv:VwickKAli0tKblAiT9IsAIUGVyJ+yWAGSKFY9kIVut8=,tag:uQ0rj8n6T9HsWKNdvKLeIA==,type:str]
                zfs:
                    cli:
                        #  sudoEnabled: true
                        paths:
                            zfs: /usr/sbin/zfs
                            zpool: /usr/sbin/zpool
                            sudo: /usr/bin/sudo
                            chroot: /usr/sbin/chroot
                    datasetProperties:
                        org.freenas:description: '{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}'
                    datasetParentName: Heimdall/k8s/main-cluster/nvme/pvc
                    detachedSnapshotsDatasetParentName: Heimdall/k8s/main-cluster/nvme/snapshot
                    # "" (inherit), lz4, gzip-9, etc
                    zvolCompression: inherit
                    # "" (inherit), on, off, verify
                    zvolDedup: "off"
                    zvolEnableReservation: false
                    # 512, 1K, 2K, 4K, 8K, 16K, 64K, 128K default is 16K
                    zvolBlocksize: 4K
                nvmeof:
                    # these are for the node/client aspect
                    transports:
                        - tcp://10.1.0.63:4420
                        #- "tcp://127.0.0.1:4420?host-iface=eth0"
                        #- "tcp://[2001:123:456::1]:4420"
                        #- "rdma://127.0.0.1:4420"
                        #- "fc://[nn-0x203b00a098cbcac6:pn-0x203d00a098cbcac6]"
                    # MUST ensure uniqueness
                    # full iqn limit is 223 bytes, plan accordingly
                    # default is "{{ name }}"
                    nameTemplate: '{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}'
                    namePrefix: csi-
                    nameSuffix: -cluster
                    shareStrategy: nvmetCli
                    #shareStrategy: "spdkCli"
                    # https://documentation.suse.com/es-es/sles/15-SP1/html/SLES-all/cha-nvmeof.html
                    # https://www.linuxjournal.com/content/data-flash-part-iii-nvme-over-fabrics-using-tcp
                    # http://git.infradead.org/users/hch/nvmetcli.git
                    shareStrategyNvmetCli:
                        #sudoEnabled: true
                        # /root/.local/bin/nvmetcli
                        nvmetcliPath: nvmetcli
                        # prevent startup race conditions by ensuring the config on disk has been imported
                        # before we start messing with things
                        configIsImportedFilePath: /var/run/nvmet-config-loaded
                        configPath: /etc/nvmet/config.json
                        basename: nqn.2003-01.org.linux-nvme
                        # add more ports here as appropriate if you have multipath
                        ports:
                            - "1"
                        subsystem:
                            attributes:
                                allow_any_host: 1
                                # not supported yet in nvmetcli
                                #namespace:
                                #  attributes:
                                #    buffered_io: 1
                    shareStrategySpdkCli:
                        # spdkcli.py
                        #spdkcliPath: spdkcli
                        configPath: /etc/spdk/spdk.json
                        basename: nqn.2003-01.org.linux-nvmeof
                        bdev:
                            type: uring
                            #type: aio
                            attributes:
                                block_size: 512
                        subsystem:
                            attributes:
                                allow_any_host: "true"
                        listeners:
                            - trtype: tcp
                              traddr: server
                              trsvcid: port
                              adrfam: ipv4
sops:
    shamir_threshold: 3
    age:
        - recipient: age1agltukf6ellg2guets9gq4th2nmunc965uflry7fdahtj7ea8uxq8q54ae
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIbi85RU0zRlY5SmYyZXRx
            OWxCYkZBcC9GakxuTFV4d1FlVVZaRHJoSXlFCnkvSVpIMUVJbVZsY2F2TU9MNUJP
            cjBKVFoxRlZUbHNCWDBPdmE2TkhpTm8KLS0tIFRXc0NSTWZhWWZaUGszemZoRG5w
            VFF3SUxZQWUwNkVMK3lzc0loYkVUcFkKLKcB0CX63MR3AM3kWMUADEWK6PqlUR90
            UXf5TrZzzZX6v9+Rw3la5Ww2nUwWy/B+Fvo+0XwLqizZ/tpM0WPhhQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-07-16T23:39:13Z"
    mac: ENC[AES256_GCM,data:fFs2hHc5fP/6YcZjGWoQ5G/+Cdsqf59hWfA5PEUKpBlJC1mELhFdxsf27bWN7FjDVw/dvfd6qsTadBeN/EXVLWgkYxkD6Jk8vPHfbvZUhdo5BF/o9dGKbkNWzVCGzYQPcXC/E68qzbAc3yB3iLIy7mDUCvoPNov8NhttZSgFWKk=,iv:YjIBZOxDNe9jdSSFOMfSiTI5DU1fzLZjNEIxlpMHx/0=,tag:gS7Aka1fgXWXpur8hQ21KA==,type:str]
    encrypted_regex: ((?i)(privateKey))
    version: 3.10.1
