apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: firefox-syncserver
  namespace: firefox-syncserver
spec:
  interval: 15m
  chart:
    spec:
      chart: firefox-syncserver
      version: 20.13.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    TZ: America/Chicago

    credentials:
      cloudflare:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}"
        accessKey: "${S3ID}"
        secretKey: "${S3SECRET}"
        encrKey: "${S3ENCR}"

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: cloudflare
            dest:
              enabled: true
            src:
              enabled: true

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: ffsync.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix

    cnpg:
      main:
        enabled: true
        mode: recovery
        cluster:
          singleNode: true
        user: firefox-syncserver
        password: "${FFSYNC_DATABASE}"
        database: firefox-syncserver
        pgVersion: 16
        backups:
          enabled: false
          credentials: cloudflare
          scheduledBackups:
            - name: daily-backup
              schedule: "0 0 21 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false           
          retentionPolicy: "7d"
        recovery:
          method: object_store
          revision: "1"
          credentials: cloudflare